requests
joblib>=0.8.4
pandas>=0.17.0
SPARQLWrapper
iso8601
rdflib>=4.2.1
git+https://github.com/SemanticComputing/rdf_dm.git#egg=rdf_dm-master
git+https://github.com/SemanticComputing/sotasampo_helpers.git#egg=sotasampo_helpers-master
git+https://github.com/SemanticComputing/python-arpa-linker.git#egg=arpa_linker-master